<div fxLayout="column" class="test-case-view">
  <p class="sub-heading mt-15">Test Cases</p>
  <span class="p-input-icon-left search-test-case">
    <i class="pi pi-search"></i>
    <input type="text" (keyup)="onTestSearch()" [(ngModel)]="searchQuery" pInputText placeholder="Search test cases" />
  </span>
  <i class="pi pi-angle-left scroll-test" *ngIf="isNavbar('LC')" (onscroll)="isNavbar('LC')"
    (click)="scrollNavbar('L')"></i>

  <i class="pi pi-angle-right scroll-test" *ngIf="isNavbar('RC')" (click)="scrollNavbar('R')"></i>
  <p-tabView (onChange)="testCategoryClicked($event.index)" styleClass="testcase-custom-view" fxFlex="1 1 auto">
    <ng-container *ngFor="let category of this.testSandbox.getTestSuiteCategory(); let index = index">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>{{category}} </span>
        </ng-template>

        <div fxLayout fxFlex="1 1 auto" class="parent-test-cases">
          <app-test-suites-list fxFlex="50%"></app-test-suites-list>
          <app-test-cases-list fxFlex="50%"></app-test-cases-list>
        </div>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
