:host ::ng-deep {
  .test-name {
    border-bottom-left-radius: 4px;
  }
  .current-element {
    background-color: #e9ecef;
  }
  .div-test-name-checkbox {
    .test-name-checkbox {
      margin: 0px 15px 0;
      padding: 9px 0;
    }
  }
  .test-name {
    gap: unset;
  }
  .test-name-master {
    border-top-left-radius: 4px;
  }
  .no-test-available {
    height: 100%;
  }
}
