<div class="content-wrapper">
  <div class="top-container">
    <a (click)="sideBarClicked(0)" [ngClass]="{'active-nav': navSandbox.getCurrentIndex() ===0}"
      class="side_nav_content">
      <i class="icon-home icon_color"></i> Home
    </a>
    <a (click)="sideBarClicked(1)" [ngClass]="{'active-nav': navSandbox.getCurrentIndex() ===1}"
      class="side_nav_content">
      <i class="icon-data2 icon_color"></i> Test
    </a>
    <a (click)="sideBarClicked(6)" [ngClass]="{'active-nav': navSandbox.getCurrentIndex() ===6}"
      class="side_nav_content">
      <i class="icon-data icon_color"></i> Utility
    </a>
    <a (click)="sideBarClicked(3)" [ngClass]="{'active-nav': navSandbox.getCurrentIndex() ===3}"
      class="side_nav_content">
      <i class="icon-setting-2 icon_color"></i> Settings
    </a>
  </div>
  <div class="bottom-container">
    <hr>
    <a (click)="sideBarClicked(4)" [ngClass]="{'active-nav': navSandbox.getCurrentIndex() ===4}"
      class="side_nav_content">
      <i class="icon-document-text icon_color"></i>Project
    </a>
  </div>
</div>
