@import "../../../../styles/colors";

:host ::ng-deep {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 86px;
    height: 100vh;
    justify-content: space-between;
    background-color: $lightBlack;
    position: absolute;
    top: 0px;
    z-index: 1;
  }
  .top-container {
    margin-top: 80px;
  }
  .side_nav_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: $creamWhite;
    font-family: "Roboto-Regular";
    padding: 8px;
    width: 80%;
    margin: auto;
    cursor: pointer;
    i {
      font-size: 25px;
      padding: 2px;
    }
    &:hover:not(.active-nav) {
      background-color: $lightGray;
      border-radius: 5px;
    }
  }
  a {
    margin-bottom: 15px !important;
  }
  hr {
    width: 62px;
    height: 1px;
    background-color: $darkGray !important;
    opacity: 0.4;
  }
  .active-nav {
    background-color: $darkGray;
    border-radius: 5px;
  }
  .icon_color {
    color: $white;
  }
}
