<div fxLayout="column" class="test-exec-tree-parent">
  <div class="table-heading">Test Cases </div>

  <div *ngIf="testRunAPI.getRunningTestCasesRawData().length === 0 || sharedAPI.getWebSocketLoader()"
    class="loader-div">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="6"
      animationDuration=".5s"></p-progressSpinner>
  </div>

  <ng-container *ngFor="let testCollection of testRunAPI.getTestCollectionData() | keyvalue:keepOriginalOrder">
    <ng-container *ngIf="getFilteredRunningTestCases(testCollection); let filteredRunningTC">
      <div *ngIf="filteredRunningTC.length" class="all-tests-div">
        <div fxLayout="row" [ngClass]="{'default-test': true, 'active-block': activeBlock===testCollection.key}">
          <div fxFlex="1 1 auto" (click)="switchActiveBlock(testCollection.key)">
            <i *ngIf="activeBlock===testCollection.key" class="pi pi-angle-down"></i>
            <i *ngIf="activeBlock!==testCollection.key" class="pi pi-angle-right"></i>
            <i [ngClass]="getCategoryClassName(filteredRunningTC)" class="category-progress"></i>
            {{testCollection.key}}
            <span class="test-count badge-count">{{filteredRunningTC.length|number:'2.0'}}</span>
          </div>
          <div>
            <p-progressBar [value]="getCategoryProgress(filteredRunningTC)" mode="determinate" [showValue]="false"
              class="progress-bar">
            </p-progressBar>
          </div>
        </div>
      </div>

      <div [ngClass]="{'testcase-div': true, 'heightZero': activeBlock!==testCollection.key}">
        <ng-container
          *ngTemplateOutlet="recursiveListTmpl; context:{ list: filteredRunningTC, index:1, testCollectionKeys: getAllTestSuits(testCollection) }">
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #recursiveListTmpl let-list="list" let-index="index" let-testCollectionKeys="testCollectionKeys">
    <ng-container *ngFor="let item of list; let ind = index">
      <ng-container *ngIf="testCollectionKeys.includes(item.name) || index !==1">
        <div fxLayout="row" (click)="expandClick(item)" [class]="'testcase-div-'+index"
          [ngClass]="{'remove-padding': !item.children.length, 'remove-border': !item.children.length && list.length !== ind+1}">
          <div fxFlex="1 1 auto" class="text-ellipsis">
            <i *ngIf="item.status ==='passed'" class="pi pi-check success"></i>
            <i *ngIf="item.status ==='error' || item.status ==='failed'" class="pi pi-times error"></i>
            <i *ngIf="item.status ==='executing'" class="pi pi-spin pi-spinner"></i>
            <i *ngIf="item.status ==='cancelled'" class="pi pi-ban error"></i> &nbsp;
            <span [ngClass]="{'line-through': item.status ==='cancelled', 'pending-tc': item.status ==='pending'}">
              {{ item.name }}
            </span>
            <span *ngIf="index === 1" class="test-count badge-count">{{item.children.length|number:'2.0'}}</span>
            <span *ngIf="item.count && index > 1" class="testcse-count">({{item.count}})</span>
          </div>
          <div *ngIf="item.progress >= 0" class="testcase-loader">
            <p-progressBar [value]="item.progress" mode="determinate" [showValue]="false" class="progress-bar">
            </p-progressBar>
          </div>
        </div>
        <ng-container *ngIf="item.expanded">
          <ng-container [ngIf]="item.children.length > 0"
            *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children, index:index+1, testCollectionKeys:testCollectionKeys }">
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>

</div>
