@import "../colors";

$backgroundImage1: "../../assets/theme-images/Dark_Mode_1.jpg";
$backgroundImage2: "../../assets/theme-images/Dark_Mode_2.jpg";

.dark-theme {
  .mainarea-parent-div {
    background: url(#{$backgroundImage1});
    background-size: 100% 100%;
    height: calc(100vh - 68.2px);
    .p-card-parent {
      border: 1px solid $garyBorder;
      .p-card.p-component {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          background: url(#{$backgroundImage1});
          background-size: 100% 100%;
          width: 100%;
          height: 100%;
          filter: blur(5px);
          z-index: 0;
        }
      }
      .p-card {
        background: none;
      }
    }

    .p-card-body {
      position: absolute; // IMP: blur bg image using ::before will make some tags hidden because its coming on top of the other tags
      width: 100%;
    }
  }

  /* Start: top-navbar */
  .p-menubar {
    background: url(#{$backgroundImage2});
    background-size: 100% 100%;
    color: $white !important;
    .p-menubar-start {
      background-color: $navLogoBg_dark !important;
    }
  }

  .top-nav-dropdown,
  .project-dropdown {
    .p-dropdown {
      .p-dropdown-label.p-inputtext {
        color: $white !important;
      }
      .p-dropdown-trigger {
        color: $white !important;
      }
    }
  }
  /* End: top-navbar */

  /* Start: Project screen table */
  .p-datatable {
    .p-datatable-header {
      background: inherit;
      border: unset;
    }
    .p-datatable-thead > tr > th {
      background: $bgColor2_dark;
      color: $white !important;
      border-color: $garyBorder;
      &:hover {
        background: $bgColor2_dark !important;
        .p-sortable-column-icon {
          color: inherit;
        }
      }
      .p-sortable-column-icon {
        color: inherit;
      }
    }
    .p-datatable-scrollable-header {
      background: inherit;
    }
    .p-datatable-scrollable-footer {
      background: inherit;
    }
    .p-datatable-tbody > tr {
      background: inherit;
      td {
        color: $white !important;
        border-color: $garyBorder;
      }
      &:hover {
        background: $bgColor2_dark !important;
      }
      td.test-name-td:hover {
        color: $ceruleanBlue !important;
      }
      .info-log {
        color: $info !important;
      }
      .error-log {
        color: $error !important;
      }
      .warning-log {
        color: $warning !important;
      }
    }
    .p-paginator-bottom {
      background: inherit;
      color: $white !important;
      border-color: $garyBorder;
      .p-paginator-current,
      .p-paginator-icon {
        color: $white !important;
      }
    }
    .p-paginator .p-paginator-pages .p-paginator-page {
      color: $white !important;
      &.p-highlight {
        background: $navLogoBg_dark;
        border-color: $navLogoBg_dark;
      }
      &:hover:not(.p-highlight) {
        color: $lightBlack !important;
      }
      .table_icons i:hover {
        color: $navLogoBg_dark;
        background-color: rgba(104, 190, 233, 0.432);
      }
    }
  }
  /* End: Project screen table */

  /* Start: Test run screen */
  .p-tabview {
    .p-tabview-nav {
      background: inherit;
      border-color: inherit;
      .p-tabview-nav-link {
        background: inherit;
        border-color: inherit;
      }
      // selected tab
      li.p-highlight .p-tabview-nav-link {
        background: inherit;
        color: $white;
        border-color: $white;
      }
    }
    .p-tabview-panels {
      background: inherit;
    }
  }
  .p-checkbox {
    .p-checkbox-box.p-highlight {
      background: $navLogoBg_dark;
      border-color: $navLogoBg_dark;
      &:hover {
        background: $navLogoBg_dark;
        border-color: $navLogoBg_dark;
      }
    }
    .p-checkbox-box:not(.p-highlight):hover {
      border-color: $navLogoBg_dark;
    }
    .p-checkbox-box.p-focus {
      box-shadow: 0 0 0 0.2rem $creamWhite;
      border-color: $navLogoBg_dark;
    }
  }
  .custom-icon {
    .p-checkbox .p-checkbox-box {
      border-color: $navLogoBg_dark !important;
      background: $navLogoBg_dark !important;
    }
  }
  .test-count {
    color: $white;
    border-color: $white;
  }
  .parent-test-cases .test-name,
  .test-summary .p-tree {
    background: $bgColor3_dark;
    border-color: $garyBorder;
    color: $white;
    .test-name-master,
    .current-element {
      background-color: $bgColor4_dark;
      border-color: $garyBorder;
    }
  }
  /* End: Test run screen */

  /* Start: Test execution screen */
  .test-exec-tree-parent .table-heading,
  .test-log-toolbar-header {
    background-color: $bgColor4_dark !important;
  }
  .test-logs-parent .test-log-toolbar .test-log-toolbar-header .table-heading {
    color: $white !important;
  }

  .test-execution-parent {
    .test-execution-tree-div {
      border-color: $garyBorder !important;
      .test-exec-tree-parent {
        .all-tests-div .default-test {
          border-color: $garyBorder !important;
          background-color: $bgColor4_dark !important;
          color: $white !important;
          &:not(.active-block) {
            background: inherit !important;
          }
        }
        .testcase-div {
          .testcase-div-1,
          .testcase-div-2,
          .testcase-div-3 {
            border-color: $garyBorder !important;
            color: $white !important;
          }
          .testcase-div-1,
          .testcase-div-2 {
            background-color: $bgColor4_dark !important;
          }
        }
        .table-heading {
          color: $white !important;
        }
      }
    }
    .test-execution-logs-div {
      border-color: $garyBorder !important;
    }
  }
  /* End: Test execution screen */

  // headings and labels
  .p-card-comp {
    .p-card-content {
      .sub-heading,
      .heading-label,
      .heading-text,
      .textbox-label,
      .table-heading,
      .no-data {
        color: $white !important;
      }
    }
  }

  // buttons
  .create-button-div,
  .project-dropdown,
  .test-details,
  .test-execution-parent {
    button:not(.button-abort) {
      background: $navLogoBg_dark;
      border: 1px solid $navLogoBg_dark;
      color: $white !important;
      &:hover {
        background: $navLogoBg_dark;
        border: 1px solid $navLogoBg_dark;
      }
    }
  }

  // input and dropdown
  input:not([type="file"]),
  .p-dropdown {
    background: $inputBgColor_dark;
  }

  // report upload button
  .report-upload input::before {
    background: $navLogoBg_dark !important;
    border-color: $navLogoBg_dark !important;
  }

  // update only color
  .icon-import-2,
  .icon-add-square,
  .create-new-project-label,
  .construction-span,
  .test-summary .icon-folder-open,
  .test-summary .p-tree-toggler-icon,
  .utility-upload-parent,
  .legends-parent {
    color: $white !important;
  }
  .message-parent .notification-text {
    color: black !important;
  }
  // temp
  .construction img {
    background: lightgray;
  }
  .copy-rights {
    color: white;
  }
  /* Start: Report page */
  // .test-report {
  //   color: $white;
  //   table,
  //   th,
  //   td {
  //     border-color: $garyBorder;
  //   }
  //   th {
  //     background-color: $bgColor4_dark;
  //   }
  // }
  /* End: Report page */
}
