[submodule "cli"]
	path = cli
	url = https://github.com/project-chip/certification-tool-cli
[submodule "backend"]
	path = backend
	url = https://github.com/project-chip/certification-tool-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/project-chip/certification-tool-frontend
