{
  "network":{
    "fabric_id":"0",
    "thread": {
      "dataset": {
        "channel": "15",
        "panid": "0x1234",
        "extpanid": "1111111122222222",
        "networkkey": "00112233445566778899aabbccddeeff",
        "networkname": "DEMO"
      },
      "rcp_serial_path": "/dev/ttyACM0",
      "rcp_baudrate": 115200,
      "on_mesh_prefix": "fd11:22::/64",
      "network_interface": "wlan0"
    },
    "wifi":{
      "ssid": "testharness",
      "password": "wifi-password"
    }
  },
  "dut_config":{
    "pairing_mode":"onnetwork",
    "setup_code":"20202021",
    "discriminator":"3840",
    "endpoint_id":"0",
    "chip_tool_use_paa_certs":false
  }
}