$navbar: #4baaf5;
$buttonColor: #4baaf5;
$mainAreaParent: #f8f9fa;
$white: #fff;
$creamWhite: #ced4da;
$darkGray: #424242;
$lightGray: #2f2f2f;
$bluishGray: #495057;
$lightBlack: #212121;
$transparent: transparent;
$success: #39f161;
$error: #e24545;
$warning: #fbc02d;
$info: #0288d1;
$iconBackground: rgba(156, 204, 235, 0.432);

/* Test execution */
$execTableHeader: #f8f9fa;
$execTableSubHeader: #e9ecef;
$execTableBorder: #e1e4e7;
$darkRed: #d32f2f;
$ceruleanBlue: #2193f6;

/* light-theme */
$navLogoBg: #207a6c;
$bgColor1: #f0f9fc;
$bgColor2: #dbebee;
$bgColor3: #dbebee;
$bgColor4: #d5e8ee;
$bgColor5: #f6fbfa;
$color1: #979393;
$color2: #636363;

/* dark-theme */
$navLogoBg_dark: #249c8e;
$bgColor2_dark: #343e54;
$bgColor3_dark: #1f2938;
$bgColor4_dark: #2f3a4d;
$inputBgColor_dark: #dde0e4;
$garyBorder: #424958;
