@import "../../../../styles/colors";

:host ::ng-deep {
  .new-project-main {
    height: calc(100vh - 150px);
    user-select: none;
    cursor: pointer;
    color: $lightBlack;

    i {
      font-size: 90px;
      padding-bottom: 15px;
    }
    .create-new-project-label {
      font-family: "Roboto-Regular";
      font-size: 38px;
    }
  }
}
