<div *ngIf="projectSandbox.getIsNewProjectClicked() !== null" class="new-project-main" fxLayout="column"
  fxLayoutAlign="center center" (click)="createNewProject()">
  <i class="icon-add-square"></i>
  <p class="create-new-project-label">Create New Project</p>
</div>
<div *ngIf="projectSandbox.getIsNewProjectClicked() === null" class="new-project-main" fxLayout="column"
  fxLayoutAlign="center center">
  <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="6"
    animationDuration=".5s"></p-progressSpinner>
</div>
