:host ::ng-deep {
  .test-details,
  .app-test-case-component {
    height: 100%;
  }
  .test-name-parent {
    position: relative;
  }
  .test-name-warning {
    position: absolute;
    bottom: -15px;
    color: red;
    left: 0px;
  }
  .test-loader {
    display: flex;
    height: 100%;
    align-items: center;
  } 
  .test-buttons {
    display: flex;
    gap: 15px;
    .clear-test, .start-button  {
      width: fit-content;
    }
  }
}
