@import "../../../../../../styles/colors";
@import "../../../../../../styles/custom.scss";

:host ::ng-deep .test-log-toolbar {
  .test-log-toolbar-header {
    height: 100%;
    background-color: $execTableHeader;
    .table-heading {
      @extend .table-heading;
      padding: 14px;
    }
    .input-serach-logs {
      height: 28px;
      font-size: 14px;
      box-shadow: unset;
    }
    .p-input-icon-left {
      padding: 8px 14px;
      padding-right: 0;
      .pi-search {
        padding-left: 14px;
        left: 12px;
        font-size: 14px;
        top: 24px;
      }
    }
  }
  .download-logs-div,
  .pdf-logs-div {
    width: 28px;
    height: 28px;
    margin: 8px 4px;
    padding: 6px;
    border-radius: 3px;
  }
  .download-logs-div {
    background-color: $warning;
    color: $lightGray;
  }
  .pdf-logs-div {
    background-color: $ceruleanBlue;
    color: $white;
  }
  .disable-logs-icon * {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .logs-search-arrow {
    margin-top: 8px;
    margin-right: 10px;
    height: 28px;
    border: 1px solid $creamWhite;
    .pi {
      font-size: 14px;
      color: $color1;
      &:hover {
        color: $color2;
      }
    }
  }
}
