.test-report {
  margin: 13px;
  height: calc(100vh - 274px);
  overflow: auto;
}
.test-border,
.utility-parent {
  border: 1px solid #e3e1e187;
  box-shadow: 0px 6px 12px 3px rgb(0 0 0 / 10%);
}
.data-table {
table-layout: fixed;
}
table,
th,
td {
  border: 1px solid #c3bfbf;
  border-collapse: collapse;
}
th {
  background-color: #eeebf047;
}
.error {
  color: #ffc933;
}
.passed {
  color: #007e33;
}
.pending {
  color: #2193f6;
}
.failed {
  color: #cc0000;
}
.cancelled {
  color: #ff8800;
}
.report-title {
  text-align: left;
}
.detail-divider,
.detail-summary {
  border-top: 2px solid rgba(151, 151, 151, 0.849);
  margin: 0 0 18px 0;
}

.detail-summary {
  margin-bottom: 0;
}
.test-case {
  padding-left: 22px !important;
}
.test-step {
  padding-left: 37px !important;
}
.report-heading {
  width: 90vw;
}
.report-detail,
.report-summary {
  width: 90vw;
  table {
    width: 100%;
    margin-bottom: 20px;
    tr {
      line-height: 35px;
    }
    th,
    td {
      text-align: left;
      padding: 0 6px 0 6px;
    }
  }
}
.report-detail {
  .test-run {
    padding: 10px 35px 1px 35px;
    border: 1px solid #c3bfbf;
  }
  .test-title {
    font-size: 12px;
  }
  .bold-test-title {
    font-weight: 400;
  }
}
.bold-title {
  font-weight: bold;
}
.loader-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.utility-parent {
  margin: 8px;
}
.d-none {
  display: none;
}
:host ::ng-deep .report-summary-title {
  .custom-select {
    background: none !important;
    border: none !important;
    width: 200px;
  }
}
:host ::ng-deep .test-report {
  background: white !important;
}
.text-warp {
  line-break:anywhere;
}
.statistics {
  width: 90vw;
  .statistics-bar {
    border: 1px solid #c3bfbf;
    height: 75px;
  }
  .progress-bar-legends {
    text-align: center;
    .progress-bar-text {
      margin-right: 25px;
      span {
        color: grey;
      }
    }
    .circle {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .progress-bar {
    width: 70%;
    height: 15px;
    border: 1px solid #c3bfbf;
    border-radius: 7px;
    margin: 17px auto;
    background-image: linear-gradient(#007e33, #007e33),
      linear-gradient(#cc0000, #cc0000), linear-gradient(#ffc933, #ffc933),
      linear-gradient(#ff8800, #ff8800), linear-gradient(#2193f6, #2193f6),
      linear-gradient(rgb(218, 209, 209), rgb(218, 209, 209));
    background-repeat: no-repeat;
    background-size: var(--percent-passed) 100%, var(--percent-failed) 100%,
      var(--percent-error) 100%, var(--percent-cancelled) 100%,
      var(--percent-pending) 100%, 100% 100%;
  }
  .error-background {
    background: #ffc933;
  }
  .passed-background {
    background: #007e33;
  }
  .pending-background {
    background: #2193f6;
  }
  .failed-background {
    background: #cc0000;
  }
  .cancelled-background {
    background: #ff8800;
  }
}
