:host ::ng-deep {
  .operator {
    .p-autocomplete-panel {
      left: -37px !important;
    }
    position: relative;
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .operator-name {
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .operator-small {
    font-size: 10px;
  }
  .operator-item {
    min-width: 204px;
    display: flex;
    justify-content: space-between;
  }
  .operator-warning {
    position: absolute;
    top: 13px;
    right: 1px;
    color: red;
  }
  .operator-edit-buttons {
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
  }
  .operator-buttons {
    i {
      padding: 5px;
    }
    i:hover {
      background-color: rgba(156, 204, 235, 0.432);
      border-radius: 20px;
    }
  }
  .add-new-operator {
    min-width: 204px;
  }
}
