<div class="operator">
  <p class="textbox-label">Operator</p>
  <small *ngIf="isString(selectedOperator) && allowedCharacter.test(selectedOperator)" class="operator-warning">
    Special cases are not allowed
  </small>
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <p-autoComplete id="autoc" #aut [multiple]="false" [(ngModel)]="selectedOperator" field="name"
      [suggestions]="filteredOperator" [minLength]="0" (completeMethod)="onFilterOperator($event)"
      [completeOnFocus]='true' [maxlength]=36 placeholder="Enter Operator" (onSelect)="onSelectedOperator($event)">
      <ng-template let-operator pTemplate="item">
        <div class="add-new-operator" *ngIf="addNew" (click)="addNewOperator(operator.name)">
          <span class="operator-small">Click To Add New Operator</span>
          <div [ngClass]="{'operator-small': operator.name.length>22}">{{operator.name}}</div>
        </div>
        <div class="operator-item" *ngIf="!addNew">
          <div class="operator-name">{{operator.name}}</div>
          <div class="operator-buttons">
            <i (click)="editOperator(operator); aut.hide()" pTooltip="Edit" tooltipPosition="left"
              class="icon-edit-2"></i>
            <i (click)="deleteOperator(operator); aut.hide()" pTooltip="Delete" class="icon-trash"></i>
          </div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <!-- <small *ngIf="warning" id="username2-help" class="p-error">Operator is not Selected.</small> -->
</div>
<p-dialog [(visible)]="operatorEdit" header="Edit operator" [closable]="false">
  <div>
    <p>Operator Name</p>
    <input type="text" pInputText [(ngModel)]="operatorData.name" />
  </div>
  <div class="operator-edit-buttons">
    <p-button label="Update" (click)="updateOperator()"></p-button>
    <p-button label="Cancel" (click)="operatorEdit=false"></p-button>
  </div>
</p-dialog>
