@import "../../../../styles/colors";

.add-device-icon {
  font-size: 24px;
  vertical-align: middle;
  padding-left: 6px;
  .path1:before {
    color: $buttonColor;
    opacity: 1;
  }
  .path2::before {
    color: $white;
  }
}
