<div class="utility-upload-parent">
  <h3 class="utility-title">Utility</h3>
  <h4 class="utility-title">File Upload</h4>
  <div class="upload-file" fxLayout fxLayoutAlign="none center">
    <div class="file-upload">
      <input type="file" (change)="onUpload($event)" accept=".json" id="file" class="input-file">
      <label for="file">
        <i class="pi pi-upload"></i> Browse
      </label>
    </div>
    <p class="file-name" *ngIf="fileName"><i class="icon-document-text-1"></i>{{fileName}}</p>
  </div>
</div>
