<p-menubar [ngClass]="{'data-loading': dropdownData.length === 0}">
  <ng-template pTemplate="start">
    <div class="top-nav-start" *ngIf="this.getProjectDataLen() > 0">
      <img src="../../../../assets/matter_sym_rgb_day.png" class="matter-logo-icon" alt="">
      <div class="top-nav-dropdown">
        <p-dropdown [options]="projectsAPI.getProjectData()" [(ngModel)]="headerName" optionLabel="name"
          *ngIf="navSandbox.getCurrentIndex()===1 && sharedAPI.getSelectedProjectType() && projectSandbox.getProjectType().tableName ==='Projects' "
          (onChange)=" projectChanged()">
        </p-dropdown>
      </div>
    </div>
    <img *ngIf="dropdownData.length === 0" src="../../../../assets/matter_logo_rgb_day.png" alt="matters-logo"
      class="matter-logo" />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="user-data">
      <div fxFlex fxLayoutAlign="center center">
        <div class="sha-version">
          <span>Version: {{sharedAPI.getShaVersion().version}}</span>
          <span>Sha: {{sharedAPI.getShaVersion().sha}}</span>
        </div>
        <i class="pi pi-bell notification-icon  p-overlay-badge" (click)="onClickNotification()"
          id="notification-click">
          <span *ngIf="sharedAPI.getIsNotificationRead()" class="p-badge  p-component p-badge-dot"></span>
        </i>

        <i *ngIf="sharedAPI.getSelectedTheme() === themesOption[0]" (click)="onThemeSwitch()"
          class="icon-sun-1 theme-switch-icon" pTooltip="Switch to Dark theme"></i>

        <i *ngIf="sharedAPI.getSelectedTheme() === themesOption[1]" (click)="onThemeSwitch()"
          class="icon-sun-fog theme-switch-icon" pTooltip="Switch to Dark theme"></i>
        <i *ngIf="sharedAPI.getSelectedTheme() === themesOption[2]" (click)="onThemeSwitch()"
          class="icon-moon theme-switch-icon" pTooltip="Switch to Light theme"></i>
      </div>
    </div>
    <div class="notification-overlay" [ngClass]='{"display-drop": notification}' id="notification">
      <div class="notification-header">
        <p class="notification-title">Notifications</p>

      </div>
      <hr>
      <div class="message-parent">
        <ng-container *ngFor="let data of sharedAPI.getNotificationMessage().reverse()">
          <div class="notification-message">
            <p class="notification-text"><span class="status-circle {{data.state}} "></span> {{data.message}}
            </p>
            <span class="notification-time">{{findTime(data.time)}}</span>
          </div>
          <hr>
        </ng-container>
        <p *ngIf="sharedAPI.getNotificationMessage().length ===0" class="no-notification notification-text">No
          Notifications</p>
      </div>
    </div>
  </ng-template>

</p-menubar>
<p-dialog header="Select a Project" class="select-project-dialog" [(visible)]="display" [draggable]="false"
  [style]="{width:'30vw'}" [closable]=false
  *ngIf="navSandbox.getCurrentIndex() === 1 && !sharedAPI.getSelectedProjectType()">
  <p-listbox [options]="dropdownData" class="project-list-overlay" [(ngModel)]="selectedProject" (click)="closePopUp()"
    optionLabel="name">
  </p-listbox>
</p-dialog>
