@import "../../../../styles/colors";
@import "../../../../styles/custom.scss";

:host ::ng-deep {
  .p-menubar {
    background-color: $navbar !important;
    opacity: 0.9;
    border: none !important;
    border-radius: unset !important;
    color: $white;
    z-index: 2;
    height: 68px;
    position: relative;
    padding-left: 0;
    .p-menubar-start {
      height: 68px;
      width: 86px;
      position: relative;
    }
  }
  .user-data {
    display: flex;
    align-items: center;
    i {
      margin-right: 20px;
    }
  }
  .notification-text {
    color: black;
  }
  .project-list-overlay {
    max-width: 100%;
    span {
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
    }
  }
  .top-nav-start {
    .top-nav-dropdown {
      padding-left: 90px;
      text-transform: capitalize;
      .p-dropdown {
        max-width: 400px !important;
        .p-inputtext {
          font-family: "Roboto-Regular";
          font-size: 22px;
          color: $white;
        }
        .p-dropdown-trigger {
          color: $white;
        }
        background: $transparent !important;
        box-shadow: unset;
        border-color: $transparent;
        top: 15px;
      }
      .p-dropdown-items-wrapper {
        max-width: 400px;
        li {
          overflow: hidden;
          white-space: pre;
          text-overflow: ellipsis;
        }
      }
      .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: unset;
        border-color: $transparent;
        outline: unset;
        outline-offset: unset;
      }
    }
  }
  .display-drop {
    visibility: visible !important;
    max-height: none !important;
  }

  .matter-logo-icon {
    width: 40px;
    font-size: 38px;
    margin-left: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .arrow-down-icon {
    font-size: 20px;
  }
  .project-title {
    font-size: 25px;
  }
  .notification-icon {
    font-size: 25px;
    z-index: 3;
    .p-badge-dot {
      background: red;
    }
  }
  .theme-switch-icon {
    font-size: 30px;
  }
  .matter-logo {
    width: 205px;
    margin-left: 2px;
  }
  .p-dropdown-items-wrapper {
    @extend .sub-heading;
  }
  .notification-overlay {
    min-width: 355px;
    position: absolute;
    background: whitesmoke;
    display: block;
    visibility: hidden;
    left: calc(100vw - 430px);
    top: 58px;
    transition: all 200ms ease-out;
    border-radius: 5px;
    ::before {
      content: "";
      position: absolute;
      border-color: rgba(194, 225, 245, 0);
      border: solid transparent;
      border-bottom-color: whitesmoke;
      border-width: 11px;
      margin-left: -10px;
      top: -21px;
      right: 10px;
      z-index: 1;
    }
    hr {
      background: #bdc2c0;
      border-width: 0;
      height: 1px;
    }
    .message-parent {
      overflow-y: auto;
      max-height: 340px;
      .no-notification {
        text-align: center;
      }
    }
    .notification-header {
      display: flex;
      justify-content: space-between;
      padding: 7px 7px 0 7px;
    }
    .notification-title {
      margin: auto 0;
      font-weight: 500;
      color: #000000b8;
    }
    .status-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }
    .success {
      background-color: rgb(48, 129, 235);
    }
    .error {
      background-color: rgb(238, 26, 37);
    }
    .notification-message {
      margin: 0 8px;
      p {
        margin-bottom: 2px;
      }
      .message-title {
        font-weight: 500;
      }
      .notification-time {
        margin-left: 13px;
        font-weight: 200;
        color: grey;
        font-size: 13px;
      }
    }
  }
  .select-project-dialog {
    .p-listbox .p-listbox-list {
      .p-listbox-item {
        border-bottom: 1px solid #e4dddd;
        &:nth-child(even) {
          background-color: #f2f2f2;
        }
        &:hover {
          background-color: #b8b7b7;
        }
      }
    }
  }
  .sha-version {
    margin-right: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
}
