<div class="card-comp-parent-div">
  <div class="p-card-parent">
    <p-card class="p-card-comp">
      <p-divider align="center">
        <span class="p-tag">UI Settings</span>
      </p-divider>
      <!-- <h3 class="heading-label">Configure Settings</h3> -->
      <div fxLayout="row" fxLayoutGap="50px" class="container mt-20">
        <div fxLayoutAlign="center center">
          <div>
            <p class="textbox-label">Select theme</p>
            <p-dropdown [options]="themesOption" [ngModel]="sharedAPI.getSelectedTheme()"
              (onChange)="onThemeChange($event.value)" optionLabel="name" placeholder="Select theme">
            </p-dropdown>
          </div>

        </div>

      </div>

    </p-card>
  </div>
</div>
