<p-dialog [header]="header" (click)="cancel($event)" [visible]="popupId === sharedAPI.getShowCustomPopup()"
  class="custom-popup-parent" [draggable]="true" [ngClass]='{"upload-width": popupId === "upload-popup"}'>
  <div class="subheader">{{subHeader}}</div>

  <div *ngFor="let inputItem of inputItems" class="input-items-div">
    <input *ngIf="inputItem.type === 'inputbox'" type="text" pInputText [(ngModel)]="inputItem.value"
      [placeholder]="inputItem.placeHolder" class="popup-inputbox" />

    <p-dropdown *ngIf="inputItem.type === 'dropdown'" [options]="inputItem.options" [(ngModel)]="inputItem.value"
      optionLabel="name" class="popup-dropdown" appendTo="body"></p-dropdown>

    <div *ngIf="inputItem.type === 'radioButton'" class="popup-radio-div p-field-checkbox">
      <div *ngFor="let radioItem of inputItem.options" class="popup-radio-row">
        <p-radioButton [name]="inputItem.groupName" [value]="radioItem.key" [(ngModel)]="inputItem.value"
          [inputId]="'radio_'+radioItem.key">
        </p-radioButton>
        <label [for]="'radio_'+radioItem.key">{{radioItem.value}}</label>
      </div>
    </div>

    <div *ngIf="inputItem.type === 'file_upload'" class="upload-popup">
      <div class="upload-file" fxLayout fxLayoutAlign="none center">
        <div class="file-upload">
          <input type="file" (change)="onUpload($event)" id="file" class="input-file">
          <label for="file">
            <i class="pi pi-upload"></i> Browse
          </label>
        </div>
        <p class="file-name" *ngIf="fileName"><i class="icon-document-text-1"></i>{{fileName}}</p>
      </div>
    </div>

  </div>

  <div class="buttons-div">
    <button pButton *ngFor="let button of buttons" type="button" [label]="button.label" [icon]="button.iconClass"
      [class]="button.class + ' popup-button'" [ngClass]="{'disabled-icon': checkInput(inputItems)}"
      (click)="button.callback(inputItems, messageId,file)"></button>
  </div>
</p-dialog>
