@import "../../../../styles/custom.scss";
@import "../../../../styles/colors";

:host ::ng-deep .custom-popup-parent {
  .p-dialog-mask > .p-dialog {
    min-width: 400px;
    max-width: 60%;
  }
  .p-dialog-header {
    padding: 10px 2px 3px 7px;
    background-color: #a3aeb7;
    cursor: move;
    .p-dialog-title {
    min-width: 2px !important;
    }
    @extend .table-data;
  }

  .subheader {   
    white-space: pre;
      @extend .heading-text;
      font-size: 16px !important;
      max-height: 134px;
      overflow: auto;
      user-select: text !important;
    
  }
  .buttons-div {
    float: right;
    margin-top: 30px;
  }
  .popup-button {
    margin-right: 10px;
  }
  .input-items-div > .popup-inputbox {
    width: 100%;
    margin-top: 15px;
  }
  .input-items-div > .popup-dropdown > .p-dropdown {
    width: 100%;
    margin-top: 15px;
  }
  .popup-radio-div {
    margin-top: 10px;
    .popup-radio-row {
      padding: 10px 0px;
      label {
        margin-right: 30px;
        margin-left: 5px;
      }
    }
  }
  .upload-popup {
    .input-file {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
    }
    .file-upload label {
      display: flex;
      position: relative;
      width: 100px;
      height: 40px;
      border-radius: 4px;
      background: var(--blue-500);
      align-items: center;
      justify-content: center;
      color: #fff;
      .pi-upload {
        padding-right: 8px;
      }
    }
    .upload-file {
      padding: 8px;
      margin: 13px;
      border: 1px solid #e3e1e187;
      box-shadow: 0px 6px 12px 3px rgb(0 0 0 / 10%);
      .icon-document-text-1 {
        padding-right: 5px;
      }
    }
    .file-name {
      margin: auto 0 auto 15px;
    }
  }
  .upload-width {
    width: 60vw;
  }
}
:host ::ng-deep .upload-width {
  .p-dialog-mask > .p-dialog {
    width: 50vw !important;
  }
}
