@import "../../../../styles/colors";
@import "../../../../styles/custom.scss";

:host ::ng-deep {
  .p-datatable  {
    table {
    border-collapse: collapse;
    width: -webkit-fill-available;
    table-layout: fixed;
    }
    .p-datatable-thead > tr > th { 
      &:hover {
        background:#f8f9fa;
      }
    }
  }
  .p-card-body {
    padding: 0 !important;

  }
  .icon-add-circle1 {
    font-size: 23px;
    padding-left: 6px;
    .path1:before {
      color: $buttonColor;
      opacity: 1;
    }
    .path2::before {
      color: white;
    }
  }
  .filter-button {
    padding-right: 8px;
  }
  tr {
    height: 60px;
  }
  .table_icons {
    display: none;
    i {
      padding: 6px;
      font-size: 25px;
      margin: 3px;
    }
    i:hover {
      color: $buttonColor;
      background-color: rgba(156, 204, 235, 0.432);
      border-radius: 20px;
    }
  }

  .table_row:hover {
    .table_icons {
      display: block !important;
    }
  }
  .p-paginator-bottom {
    .p-dropdown {
      width: 4.5rem !important;
    }
  }
  .round_circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  .failed {
    background-color: $error;
  }

  .completed {
    background-color: $success;
  }
  .pending {
    background-color: $warning;
  }
  .table-heading-row th {
    @extend .table-heading;
  }
  .table_row td {
    @extend .table-data;
  }
  .p-paginator-bottom,
  .p-paginator-page,
  .p-dropdown-label,
  .p-dropdown-items-wrapper,
  .search-input {
    @extend .table-data;
  }

  .p-card-comp {
    flex: 1 1 auto;
    & > .p-component {
      height: 100%;
      box-shadow: 0px 6px 12px 3px rgb(0 0 0 / 10%);
    }

    .transport-div {
      label {
        margin-right: 15px;
        margin-left: 5px;
      }
    }
    .sub-heading {
      font-size: 18px;
    }
  }

  .card-comp-parent-div {
    height: calc(100vh - 97px);
    margin: 14px;
    .p-card-parent {
      height: 100%;
    }
  }

  .project-dropdown {
    .p-dropdown {
      .p-inputtext {
        @extend .heading-text;
      }
      .p-dropdown-trigger {
        color: $iconBackground;
      }
      background: transparent !important;
      box-shadow: unset;
      border-color: transparent;
    }
    .p-dropdown:not(.p-disabled).p-focus {
      box-shadow: unset;
      border-color: transparent;
      outline: unset;
      outline-offset: unset;
    }
    .p-dropdown .p-dropdown-trigger {
      width: none !important;
      padding-right: 20px;
    }
  }
  .update-project {
    .p-dropdown {
      width: 197px;
    }
    .update-project-child {
      padding-bottom: 16px;
    }
    .update-project-button {
      padding-top: 5px;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
    }
    .project-warning {
      position: absolute;
      color: red;
    }
    .settings-environment {
      height: 300px;
      overflow: auto;
      display: flex;
      gap: 10px;
    }
    .textbox-label {
      font-weight: 500;
    }
  }
  .card-comp-parent-div {
    .p-card .p-card-content {
      padding: 0 0 1rem 0 !important;
    }
  }
  .project-name {
    width: 36%;
    max-width: 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input-file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .pics-upload label {
    display: flex;
    position: relative;
    width: 130px;
    height: 25px;
    border-radius: 4px;
    background: var(--blue-500);
    align-items: center;
    justify-content: center;
    color: #fff;
    .pi-upload {
      padding-right: 8px;
    }
  }
  .text-area {
    height: unset !important;
    overflow: auto !important;
    width: 100%;
  }
  .pics-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 18px;
      display: none;     
    }   
  }
  .settings-textarea, .settings-pics {
    width: 50%;
  }
  .p-listbox-list li:hover {
    i {
      display: block !important;
    }
  }
  .pics-upload-settings {
    display: flex;
    gap:10px;
  }
 
 
}
 