<div class="card-comp-parent-div">
  <div class="p-card-parent">
    <p-card class="p-card-comp">
      <div class="card">
        <p-table #dt
          [value]="selectedDropdownData.tableName === 'Projects' ?projectSandbox.getAllProjectData(): projectSandbox.getArchivedProjects()"
          [scrollable]=true scrollHeight="calc(100vh - 360px)" [rows]="5" [paginator]="true" [rowHover]="true"
          [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[5, 10, 15, 20]"
          [globalFilterFields]="['name', 'dut_type', 'transport', 'date','status']">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between" fxLayout fxLayoutAlign="space-between center">
              <div fxLayout fxLayoutAlign="center center" class="project-dropdown">
                <p-dropdown [options]="projectDropdownData" [(ngModel)]="selectedDropdownData"
                  (onChange)="onProjectTypeChange()" optionLabel="tableName">
                </p-dropdown>
                <p-button label="Add Project" icon="pi pi-plus" iconPos="left" (click)="addNewProject()"></p-button>
              </div>
              <div>

                <span class="p-input-icon-left">
                  <i class="icon-search-normal-1"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                    class="search-input" placeholder="Search..." />
                </span>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr class="table-heading-row">
              <th style="width: 36%;">
                Project details
              </th>

              <th>
                Created
              </th>

              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-data>
            <tr class="table_row">

              <td class="capitalize" class="project-name">
                {{ data.name }}
              </td>
              <td>
                {{ sharedService.findDate(data.created_at) }}
              </td>

              <td style="width: 20% !important">
                <span class="table_icons">
                  <i class="icon-play" (click)="toTestSelection(data)" pTooltip="Go To Test-Run"
                    tooltipPosition="bottom"></i>
                  <i class="icon-edit-2" (click)="updateProjectClicked(data)" pTooltip="Edit"
                    tooltipPosition="bottom"></i>
                  <i [ngClass]="{'icon-archive-tick':selectedDropdownData.tableName ==='Projects', 'icon-archive-minus': selectedDropdownData.tableName ==='Archive Project'}"
                    [pTooltip]="selectedDropdownData.toolTip" (click)="archiveProject(data.id)"
                    tooltipPosition="bottom"></i>
                  <i class="icon-trash" (click)="deleteProject(data.id)" pTooltip="Delete" tooltipPosition="bottom"></i>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</div>


<p-dialog [(visible)]="isUpdateClicked" [style]="{width: '65%'}" [draggable]="true" header="Edit Project"
  class="update-project">
  <div class="update-project-child">
    <div>
      <p class="textbox-label">Project Name</p>
      <input type="text" pInputText [(ngModel)]="updateProjectData.name" />
    </div>
    <small *ngIf="allowedCharacter.test(updateProjectData.name) || updateProjectData.name===''" class="project-warning">
      {{updateProjectData.name === '' ? 'Project name cannot be empty' : 'Special cases are not allowed'}}
    </small>
  </div>

  <div class="settings-environment">
    <div class="settings-textarea">
      <p class="textbox-label">Project Config</p>
      <textarea class="text-area" [(ngModel)]="projectConfig" pInputTextarea [autoResize]="true" cols="75"
        rows="10"></textarea>
    </div>
    <div class="settings-pics">
      <div class="pics-upload-settings">
        <p class="textbox-label">PICS</p>
        <div class="pics-upload">
          <input type="file" #picsInput (change)="onUpload($event,updateProjectData.id)" (click)="picsInput.value=''"
            multiple="true" accept=".xml" id="file" class="input-file">
          <label for="file">
            <i class="pi pi-upload"></i> Upload PICS
          </label>
        </div>
      </div>
      <p-listbox *ngIf="updateProjectData.pics" [listStyle]="{'max-height':'227px','height':'227px'}"
        [options]="chagePicsType(updateProjectData.pics.clusters)">
        <ng-template let-clusters pTemplate="item">
          <div class="pics-list">
            <div>
              {{clusters}}
            </div>
            <i (click)="deletePICS(clusters,updateProjectData.id)" pTooltip="Delete" class="icon-trash"></i>
          </div>
        </ng-template>
      </p-listbox>
      <div *ngIf="!updateProjectData.pics">NO PICS UPLOADED</div>
    </div>
  </div>



  <div class="update-project-button">
    <button pButton label="Cancel" class="p-button-outlined" (click)='isUpdateClicked = false;'></button>

    <button type="button" pButton label="Update" (click)="updateProject()"
      [disabled]="allowedCharacter.test(updateProjectData.name) || updateProjectData.name===''"></button>

  </div>
</p-dialog>
