.project-name-parent {
  position: relative;
}
.project-warning {
  position: absolute;
  bottom: -15px;
  left: 0px;
  color: red;
}
.environment-parent {
  height: 43vh;
  position: relative;
  width: 60%;
}
.edit-button {
  position: absolute;
 
  bottom: 12px;
  right: 12px;
  
}
.environment-button {
  position: absolute;
 bottom: 12px;
  gap: 5px;
  right: 12px;
  display: flex;
}
:host ::ng-deep .settings-environment {
  white-space: pre;
  max-height: 100%;
  overflow: auto;
  background: black;
  color: white;
  margin-top: 10px;
 
 
  
  textarea {
   background: black;
   color: white;
   border: none !important;
   font-family: monospace;
  }
  .p-inputtext:enabled:focus {
    border: none !important;
    box-shadow: none !important;
  }
  font-family: monospace;
  .string { color: brown; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: green; }
  .key { color: violet; }
}
