:host ::ng-deep {
  p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: unset;
    outline-offset: 0;
    box-shadow: unset;
  }
  .app-test-cases {
    position: relative;
  }
  .tabview-custom {
    font-size: 14px;
  }
}
